.tableContainer {
  position: static; }
  .tableContainer h3 {
    position: absolute;
    margin-top: -30px;
    font-size: 23px;
    padding-left: 50px; }

.headingBar {
  background-color: rgba(20, 27, 31, 0.9);
  text-shadow: 0px 3px 3px #000000;
  text-align: center;
  height: 70px;
  padding-top: 4px; }

#RV {
  width: 300px;
  display: inline-block;
  padding: 40px; }

.headingSection {
  background-color: #141b1f;
  width: 940px;
  height: 320px;
  background-image: url("http://joethemovie.com/pages/xc90App/inc/top_content_bar_clouds.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 940px;
  padding-top: 20px; }
  .headingSection h3 {
    display: inline;
    font-size: 40px;
    vertical-align: middle; }

.versus {
  color: #ad1d1d;
  font-size: 50px; }

.appContainer {
  background-color: #141b1f;
  width: 940px;
  height: 960px;
  background-image: url("http://joethemovie.com/pages/xc90App/inc/xc90_comparison_bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 940px;
  background-position: 0 430px;
  margin: 0; }

.xc90 {
  background-color: #00649d;
  margin: 0px 0 10px 0;
  height: 45px; }

.featureSection {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  color: #a4d5f1;
  text-align: center;
  width: 200px;
  vertical-align: middle; }

.xc90Button {
  padding: 10px 0;
  width: 300px;
  font-size: 18px;
  background-color: #911a1a;
  color: #fafafa;
  font-weight: 500;
  border: 0;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  animation: buttonChange 4s;
  -moz-animation: buttonChange 4s infinite;
  -webkit-animation: buttonChange 4s infinite; }
@keyframes buttonChange {
  0% {
    background-color: #911a1a; }
  50% {
    background-color: #b62c2c; }
  100% {
    background-color: #911a1a; } }
.xc90Button:hover {
  background-color: #771414;
  color: #fafafa;
  animation: buttonChanger 4s;
  -moz-animation: buttonChanger 4s infinite;
  -webkit-animation: buttonChanger 4s infinite; }
@keyframes buttonChanger {
  0% {
    background-color: #771414; }
  50% {
    background-color: #c82f2f; }
  100% {
    background-color: #771414; } }
.xc90Button:focus, .xc90Button.focus {
  background-color: #771414;
  color: #fafafa; }

.xc90Button:active, .xc90Button.active {
  background-color: #771414;
  color: #fafafa; }

h1 {
  font-weight: 700;
  color: #ffffff; }

h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fafafa; }

.comparisonCar {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  background-color: #fcb515;
  color: #000000;
  text-align: center;
  width: 432px;
  vertical-align: middle;
  height: 45px;
  padding: 10px 0 0 0;
  border-radius: 5px 0 0 5px; }

.importantContent {
  font-weight: 700; }

.bottomLeftContent {
  padding: 80px 0 0 90px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  text-shadow: 1px 2px 1px #000000;
  font-style: italic;
  float: left; }

.bottomRightContent {
  float: right;
  padding: 80px 40px 0 0px; }

.infoButton {
  border-radius: 0;
  background-color: #033057;
  color: #fafafa;
  font-size: 18px;
  font-style: normal; }

.infoButton:hover {
  background-color: #042440;
  color: #ffffff; }

.xc90Image {
  float: left; }
  .xc90Image img {
    padding-top: 0px;
    width: 400px;
    position: absolute;
    display: inline-block; }

.competitionImages {
  float: right;
  padding: 25px 0 0 410px; }
  .competitionImages h4 {
    color: #fafafa;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 1px 3px #000000;
    position: absolute;
    padding-left: 30px; }
  .competitionImages img {
    padding: 60px 0 0 0;
    display: inline-block;
    width: 220px;
    position: static;
    margin: 0 -30px;
    transition: padding 0.2s; }
  .competitionImages img:hover {
    padding-top: 50px; }
